@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");


.row-titlef {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f4f4f;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f0f0f0;
    flex-direction: column;

    .form-inputf {
      font-family: "Fira Sans", sans-serif;
      font-size: 0.9rem;
      border-radius: 0.5rem;
      border: 1px solid #ced4da;
      font-size: 1.5rem;
      padding: 1.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      width: 507px;
      height: 0.8rem;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      box-shadow: none;
      transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
      }
    }
    @media (max-width: 768px) {
        .form-inputf {
          font-size: 1rem;
          padding: 1.5rem;
          width: 200px;
        }
    }
    .btnf {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */ 
        margin-top: 1.5rem;       
        
        .buttonlf {
            font-family: "Fira Sans", sans-serif;
            width: 108px;
            font-size: 1rem;
            color: #fff;
            border-color: #141f86;
            background-color: #141f86; /* Set custom background color */
            cursor: pointer;
            padding: 1rem;
            color: #ffffff;
            border-radius: 0.5rem;
            border: none;
            font-weight: 600;
            letter-spacing: 1px;
            &:hover {
            background-color: #10ADF4;
            }
        
        }
    }
    
  }