.page {
    .title {
        margin: 20px;
        margin-left: 50px;

        h1 {
            font-family: 'klavika-bold';
        }
    }

    .accommodations {
        display: flex;
        margin: 10px;
        padding: 0 50px;
        justify-content: space-between;
    }
}