@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

.stext-center {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 90vh;

   .scontainer {
      align-items: center;
      flex: 0 0 41.67%;
      display: flex;
      justify-content: center;

      .scontainer-body {
         display: flex;
         align-items: center;
         @media (max-width: 801px) {
            justify-content: center;
         }

         .scontainer-content {
            position: absolute;

            .scard {
               border-radius: 0.8rem;
               background: hsla(0, 0%, 90%, 0.5);
               backdrop-filter: blur(30px);
               border: none;

               .scard-body {
                  padding: 2rem 3rem;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  gap: 2rem;

                  .stitle {
                     font-family: "Fira Sans", sans-serif;
                     font-weight: bold;
                     font-size: 1.5rem;
                     font-family: "Fira Sans", sans-serif;
                     color: #4f4f4f;
                  }

                  form {
                     .srow {
                        .scol {
                           display: inline-block !important;
                           .sform-outline-11 {
                              margin-bottom: 0.8rem;
                              margin-right: 0.2rem;

                              .sform-control {
                                 font-family: "Fira Sans", sans-serif;
                                 font-size: 0.9rem;
                                 border-radius: 0.5rem;
                                 border: 1px solid #ced4da;
                                 font-size: 1rem;
                                 padding: 1rem;
                                 padding-left: 2.5rem;
                                 padding-right: 2.5rem;
                                 width: 106px;
                                 height: 0.8rem;
                                 background-color: #fff;
                                 background-image: none;
                                 background-clip: padding-box;
                                 box-shadow: none;
                                 transition: border-color 0.15s ease-in-out,
                                    box-shadow 0.15s ease-in-out;
                                 &:focus {
                                    border-color: #80bdff;
                                    outline: 0;
                                    // box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                                 }
                              }
                              .invalid-feedback {
                                 font-family: "Fira Sans", sans-serif;
                                 font-size: 0.9rem;
                                 color: #dc3545;
                              }
                           }
                           .sform-outline-12 {
                              margin-bottom: 0.8rem;
                              margin-left: 0.2rem;

                              .sform-control {
                                 font-family: "Fira Sans", sans-serif;
                                 font-size: 0.9rem;
                                 border-radius: 0.5rem;
                                 border: 1px solid #ced4da;
                                 font-size: 1rem;
                                 padding: 1rem;
                                 padding-left: 2.5rem;
                                 padding-right: 2.5rem;
                                 width: 106px;
                                 height: 0.8rem;
                                 background-color: #fff;
                                 background-image: none;
                                 background-clip: padding-box;
                                 box-shadow: none;
                                 transition: border-color 0.15s ease-in-out,
                                    box-shadow 0.15s ease-in-out;
                                 &:focus {
                                    border-color: #80bdff;
                                    outline: 0;
                                    // box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                                 }
                              }
                              .invalid-feedback {
                                 font-family: "Fira Sans", sans-serif;
                                 font-size: 0.9rem;
                                 color: #dc3545;
                              }
                           }
                        }

                        .sform-outline-2 {
                           margin-bottom: 0.8rem;
                           .sform-control {
                              font-family: "Fira Sans", sans-serif;
                              font-size: 0.9rem;
                              border-radius: 0.5rem;
                              border: 1px solid #ced4da;
                              font-size: 1rem;
                              padding: 1rem;
                              padding-left: 2.5rem;
                              padding-right: 2.5rem;
                              width: 300px;
                              height: 0.8rem;
                              background-color: #fff;
                              background-image: none;
                              background-clip: padding-box;
                              box-shadow: none;
                              transition: border-color 0.15s ease-in-out,
                                 box-shadow 0.15s ease-in-out;
                              &:focus {
                                 border-color: #80bdff;
                                 outline: 0;
                                 // box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                              }
                           }
                           .invalid-feedback {
                              font-family: "Fira Sans", sans-serif;
                              font-size: 0.9rem;
                              color: #dc3545;
                           }
                        }
                     }

                     .sform-outline-3 {
                        margin-bottom: 0.8rem;
                        .sbtn {
                           font-family: "Fira Sans", sans-serif;
                           width: 300px;
                           font-size: 0.9rem;
                           color: #fff;
                           border-color: #007bff;
                           background-color: #10ADF4; /* Set custom background color */
                           cursor: pointer;
                           padding: 0.5rem;
                           color: #ffffff;
                           border-radius: 0.5rem;
                           border: none;
                           &:hover {
                              background-color: #141f86;
                           }
                        }
                     }

                     .stext-left {
                        .ssub {
                           font-family: "Fira sans", sans-serif;
                           font-size: 0.9rem;

                           .fw-bold {
                              color: #141f86;
                              text-decoration:none;
                           }

                           .fw-bold:hover{
                              color: #10ADF4;
                           }
                        }
                        .ssub {
                           font-family: "Fira Sans", sans-serif;
                           font-size: 0.9rem;

                           .fw-bold {
                              color: #141f86;
                              text-decoration:none;
                           }

                           .fw-bold:hover{
                              color: #10ADF4;
                           }
                        }
                     }
                  }
               }
            }
         }

         .scontainer-img {
            .simg {
               border-radius: 0.25rem;
               box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.16);
               height: 80vh;
               width: 480px;
               display: block;
               margin-left: 400px;
               object-fit: cover;

               @media (max-width: 801px) {
                  display: none;
               }
            }
         }
      }
   }
}