@font-face {
    font-family: 'klavika-bold';
    src: url('./fonts/klavika-bold.otf') format('truetype'); 
}
@font-face {
    font-family: 'klavika-light';
    src: url('./fonts/klavika-light.otf') format('truetype'); 
}
@font-face {
    font-family: 'klavika-medium';
    src: url('./fonts/klavika-medium.otf') format('truetype'); 
}
@font-face {
    font-family: 'klavika-bold-italic';
    src: url('./fonts/klavika-bold-italic.otf') format('truetype'); 
}
@font-face {
    font-family: 'klavika-light-italic';
    src: url('./fonts/klavika-light-italic.otf') format('truetype'); 
}
@font-face {
    font-family: 'klavika-medium-italic';
    src: url('./fonts/klavika-medium-italic.otf') format('truetype'); 
}

html{
    background-color: #b7deee;
}