@import "../../../style.scss";

.bucketlist {
   @include themify($themes) {
      position: fixed;
      top: 4rem;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: opacity 1500ms;
      text-transform: capitalize;
      z-index: 4;
      display: flex;
      justify-content: center;
      align-items: center;

      .update-wrapper {
         margin: auto;
         background-color: themed("bg");
         padding: 2rem;
         z-index: 999;
         display: flex;
         flex-direction: column;
         gap: 20px;
         -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
         -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
         box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
         position: relative;
         border-radius: 20px;

         .update-head {
            font-weight: 600;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            color: #2d3846;
         }


         .name-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            .fname {
               label {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  color: gray;
                  font-size: 14px;
               }

               input {
                  padding: 5px;
                  border: none;
                  border-bottom: 1px solid themed("border");
                  color: gray;
                  background-color: transparent;
               }
            }
            .lname {
               label {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  color: gray;
                  font-size: 14px;
               }

               input {
                  padding: 5px;
                  border: none;
                  border-bottom: 1px solid themed("border");
                  color: gray;
                  background-color: transparent;
               }
            }
         }

         .email-container {
            overflow: hidden;

            .email {
               label {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  color: gray;
                  font-size: 14px;
               }

               input {
                  padding: 5px;
                  border: none;
                  border-bottom: 1px solid themed("border");
                  color: gray;
                  background-color: transparent;
                  width: 100%;
               }
            }
         }

         .updateDetails {
            border: none;
            padding: 10px;
            cursor: pointer;
            color: white;
            background-color: #5271ff;
         }

         .closeUpdate {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;

            .closeImg {
               width: 1.5rem;
               height: 1.5rem;
            }
         }
      }
   }
}
