a{
    margin: 0 10px;
    text-decoration: none;
    .service{
        height: 60px;
        width: 120px;
        img{
            height: 120px;
            width: auto;
            z-index: -1;
        }
        .blur-background{
            display: block;
            position: relative;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            height: 60px;
            width: 120px;
            color: white;
            margin-top: -60px;
            z-index: 2;
            transition: cubic-bezier(0.39, 0.575, 0.565, 1);
            h3{
                text-align: center;
            }
        }
        &:hover{
            cursor: pointer;
            .blur-background{
                background-color: rgb(0, 0, 0, 0);
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
                margin-top: -100px;
            }
        }
    }
}