a{
    margin: 0;
    text-decoration: none;
    .service{
        height: 60px;
        width: 120px;
        img{
            width: auto;
            height: 150px;
            z-index: -1;
        }
        .blur-background{
            display: block;
            position: relative;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            height: 60px;
            width: 150px;
            color: white;
            margin-top: -60px;
            z-index: 2;
            transition: cubic-bezier(0.39, 0.575, 0.565, 1);
            h3{
                text-align: center;
            }
        }
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            .blur-background{
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
            }
        }
    }
}