@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dashboard_main{
    width: 70%;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    .stat{
        display: flex;
        .stat-item{
            width: 260px;
            height: 100px;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 5px 10px 5px;
            color: #2B3674;
            .stat-item-title{
                font-size: 20px;
                font-family: 'klavika-medium';
            }
            .stat-item-value{
                font-size: 25px;
                font-family: 'klavika-light';
            }
            &:hover{
                transform: scale(1.02);
                cursor: pointer;
            }
        }
    }
    .chart{
        width: 100%;
        height: 350px;
        background-color: #ECFBFE;
        border-radius: 5px;
        display: flex;
        .daily-chart{
            width: 40%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 5px;
            margin: 0 10px 0 5px;
            padding: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            .traffic{
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;
                align-items: center;
                .daily{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 10px 0 10px;
                    font-family: 'DM Sans';
                    h4{
                        font-size: 15px;
                        //font-family: 'DM Sans';
                        color: #A3AED0;
                    }
                    .count{
                        display: flex;
                        color: #05CD99;
                        //font-family: 'DM Sans';
                    }
                }
                .visitors{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin: 0 10px;
                    font-family: 'DM Sans';
                    .visit-count{
                        display: flex;
                        color: #2B3674;
                        font-size: 35px;
                    }
                    .visit-text{
                        font-size: 15px;
                        //font-family: 'DM Sans';
                        color: #A3AED0;
                        display: flex;
                        align-items: baseline;
                    }
                }
            }
            &:hover{
                transform: scale(1.02);
                cursor: pointer;
            }
            .Chart{
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .top-content-creators{
            width: 60%;
            height: 100%;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 20px;
            margin: 0 10px 0 0;
        }
        h3{
            font-size: 25px;
            font-family: 'klavika-bold';
            color: #0D1669;
            text-align: center;
        }
    }
    .select{
        width: 100%;
        background-color: #ffffff;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        justify-content: center;
        .select-item{
            padding: 20px;
            h3{
                font-size: 25px;
                font-family: 'klavika-bold';
                color: #0D1669;
                text-align: center;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}