.modify-advertisement {
    h2 {
        color: black;
    }

    // .adv-form {

        .adv-field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            lable {}
            input[type="text"]{
                height: 35px;
            }
            input[type="text"], textarea, select{
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 5px;
            }
            .imgContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                width: 50vh;
                height: 20vh;
                border: 1px #cccccc;
                img {
                   width: 20vh;
                   height: 20vh;
                   object-fit: cover;
                }
                .icon {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    font-size: 35px;
                    color: rgb(13, 8, 47);
                    cursor: pointer;
                 }
             }

        }

        .btn-adv-submit {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            color: white;
            justify-content: center;
            background-color: #065573;
            width: 100%;
        }
    // }
}