.trip_main{
    .row{
        display: flex;
        .trip_box{
            width: 100%;
            border-radius: 15px;
            margin: 10px;
            table{
                width: 100%;
                th, td{
                    border-bottom: 1px solid #ddd;
                }
                th{
                    padding: 10px;
                    color: #065573;
                    text-align: left;
                    width: 400px;
                    font-size: 20px;
                    font-family: 'klavika-bold';
                }
                td{
                    padding: 10px;
                    text-align: left;
                    font-size: 18px;
                    font-family: 'klavika-regular';
                    color: #6f6f82;
                    .material-icons{
                        font-size: 20px;
                        color: #ffffff;
                        background-color: #9291b1;
                        border-radius: 50%;
                        padding: 4px;
                        cursor: pointer;
                    }
                }
                .thact{
                    width: 100px;
                    text-align: center;
                }
                .tdtype{
                    width: 150px;
                }
            }
        }
    }
}