@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.ad_view_main{
    width: 70%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #f0f9fd;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    .adview_profile{
        overflow: scroll;
        flex: 1;
        width: 100%;
        background-color: #ECFBFE;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .adview_profile_summary{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            background-color: #ffffff;
            border-radius: 5px;
            width: 100%;
            padding: 50px 0;
            font-family: 'klavika-bold';
            .about{
                flex: 50%;
                display: flex;
                flex-direction: column;
                .profile_picture{
                    width: 260px;
                    height: 100px;
                    background-color: #ffffff;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 5px 10px 5px;
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                }
                h1{
                    color: #2B3674;
                }
                h3{
                    color: #AFAFAF;
                }
            }
            .profile_details{
                flex: 45%;
                background-color: #ffffff;
                border-radius: 5px;
                width: 100%;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                table{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    tr{
                        th{
                            color: #2B3674;
                            padding: 5px;
                            font-family: 'klavika-bold';
                            font-size: 16px;
                            width: 150px;
                            text-align: left;
                        }
                        td{
                            padding: 5px;
                            font-family: 'klavika-bold';
                            font-size: 16px;
                            color: #AFAFAF;
                            width: 250px;
                        }
                    }
                }
            }
        }
        .adview_profile_details{
            display: flex;
            flex-direction: column;
            margin: 10px;
            background-color: #ffffff;
            border-radius: 5px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .profile_reports{
                border-radius: 5px;
                width: 100%;
                margin-left: 5px;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    color: #2B3674;
                    font-size: 25px;
                    padding: 10px;
                    font-family: 'klavika-bold';
                }
            }
            .btn{
                background-color: #2B3674;
                border: none;
                border-radius: 5px;
                color: #ffffff;
                padding: 10px 20px;
                font-family: 'klavika-bold';
                font-size: 16px;
                margin: 10px;
                cursor: pointer;
                &:hover{
                    background-color: #ffffff;
                    color: #2B3674;
                    border: 1px solid #2B3674;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}