.outer-container-mi {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container-mi {
   width: 600px;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.interests-head-mi{
   font-size: 1.6rem;
   font-weight: 600;
}

.interests-desc-mi{
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

ul.ks-cboxtags {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   gap: 3px;
   flex-direction: row;
   justify-content: center;
}
ul.ks-cboxtags li {
   display: inline;
}
ul.ks-cboxtags li label {
   display: inline-block;
   background-color: rgba(255, 255, 255, 0.9);
   border: 2px solid rgba(139, 139, 139, 0.3);
   color: #adadad;
   border-radius: 25px;
   white-space: nowrap;
   margin: 3px 0px;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
   transition: all 0.2s;
}

ul.ks-cboxtags li label {
   padding: 8px 12px;
   cursor: pointer;
}

ul.ks-cboxtags li label::before {
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   font-size: 12px;
   padding: 2px 6px 2px 2px;
   content: "\f067";
   transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
   content: "\f00c";
   transform: rotate(-360deg);
   transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
   border: 2px solid #1bdbf8;
   background-color: #12bbd4;
   color: #fff;
   transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
   display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
   position: absolute;
   opacity: 0;
}

.submit-mi {
   width: 8rem;
   height: 2rem;
   margin-top: 2rem;
}
