// taxi.scss
$primary-color: #228BE6;
$accent-color: #F05F40;
$text-color: #333;

.taxi-card {
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 180px;

  .crown-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    .crown-icon {
      width: 24px;
      height: auto;
    }
  }

  .left-section {
    flex: 0 0 40%;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 8px;

    .taxi-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-section {
    flex: 1;

    .details {
      h2 {
        color: $text-color;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      .icon {
        width: 20px;
        height: auto;
        margin-right: 8px;
      }

      .type,
      .mobile,
      .passengers {
        color: $primary-color;
        font-size: 1rem;
      }
    }
  }
}
