// taxi.scss
$primary-color: #228be6;
$accent-color: #f05f40;
$text-color: #333;

.taxi-card {
  // border: 2px solid $primary-color;
  // border-radius: 8px;
  // padding: 20px;
  // display: flex;
  // background-color: #f1f1f1;
  // margin-bottom: 20px;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  // width: 90%;
  // height: 180px;

  display: flex;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
  padding: 30px;

  .crown-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    .crown-icon {
      width: 24px;
      height: auto;
    }
  }

  .left-section {
    flex: 0 0 30%;
    // padding-right: 20px;
    overflow: hidden;
    border-radius: 8px;

    .taxi-photo {
      width: 85%;
      height: 85%;
      object-fit: cover;
    }
  }

  .right-section {
    flex: 1;

    .details {
      display: flex;
      flex-direction: column;
      gap: 12px;
      h2 {
        color: $text-color;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      p {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;

        .location {
          color: #4caf50;
        }

        .mobile {
          color: #f44336;
        }

        .type {
          color: #2196f3;
        }
      }

      // .type,
      // .mobile,
      // .passengers {
      //   color: $primary-color;
      //   font-size: 1rem;
      //   margin-left: 8px;
      // }
    }
  }
}
