.navbar {
  background-color: black;
  color: white;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 3%;
}

.taxi-card {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  border-radius: 1%;
  position: relative;

  .crown-container {
    position: absolute;
    top: 10px;
    right: 10px;

    .crown-icon {
      width: 24px;
      height: 24px;
    }
  }

  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .taxi-photo {
      max-width: 100%;
      height: auto;
    }
  }

  .right-section {
    flex: 2;
    padding-left: 20px;
    margin-right: 5%;
  }
}

h1 {
  margin-left: 5%;
  margin-top: 2%;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .type,
  .mobile,
  .passengers {
    color: blue;
  }
}

@media (max-width: 768px) {
  .taxi-card {
    flex-direction: column;

    .right-section {
      padding-left: 0;
      margin-top: 20px;
    }
  }
}
