*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #b7deee;
}

.adnav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.dmain{
    overflow: scroll;
}

.admin_main{
    background-color: #b7deee;
}