.messenger {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;   

    .chatMenu {
        flex: 3.5;
        width: 500px;

        .chatMenuWrapper {
            padding: 10px 10px;
            height: 100%;

            .chatMenuInput {
                width: 100%;
                padding: 10px 10px;
                border: none;
                border-bottom: 1px solid gray;

            }
        }
    }
    
    .chatBox {
        flex: 5.5;

        .chatBoxWrapper {
            padding: 10px 10px;
            height: 100%;
        }
    
    }
    
    .chatOnline {
        flex: 3;

        .chatOnlineWrapper {
            padding: 10px 10px;
            height: 100%;
        }
        
    }

}


  
  
  
  
  