.messenger {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;   

    .chatMenu {
        flex: 3.5;

        .chatMenuWrapper {
            padding: 10px 10px;
            height: 100%;

            .chatMenuInput {
                width: 100%;
                padding: 10px 10px;
                border: none;
                border-bottom: 1px solid gray;
                // margin: 10%;
            }
        }
    }
    
    .chatBox {
        flex: 5.5;
        // display: flex;

        .chatBoxWrapper {
            padding: 10px 10px;
            height: 100%;
        }
    
    }
    
    .chatOnline {
        flex: 3;

        .chatOnlineWrapper {
            padding: 10px 10px;
            height: 100%;
        }
        
    }

}


// .messenger {
//     height: calc(100vh - 70px);
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: stretch;
  
//     .chatMenu,
//     .chatBox,
//     .chatOnline {
//       width: 100%;
//       padding: 10px 10px;
//       margin: 0 10px;

//       .chatMenuWrapper {
//         height: 100%;
//       }
    
//       .chatBoxWrapper {
//         height: 100%;
//       }
    
//       .chatOnlineWrapper {
//         height: 100%;
  
//         .chatMenuInput {
//               width: 90%;
//               padding: 10px 10px;
//               border: none;
//               border-bottom: 1px solid gray;
//               // margin: 10%;
//           }
//       }
//     }
  
    
//   }
  
  
  
  
  