@import "../../style.scss";

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    .write {
        width: 98%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        form {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            input {
                height: 45px;
                width: 80%;
                border-radius: 50px;
                text-indent: 10px;
                font-size: 20px;
                border: solid 1px #d9d9d9;
            }

            .send {
                height: 40px;

            }

            .send:hover {
                cursor: pointer;
            }
        }

    }

    .line {
        width: 95%;
        height: 1px;
        background-color: #d9d9d9;
    }

    .comment {
        align-items: flex-start;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        // background-color: blueviolet;

        .dp {
            width: 45px;
            height: 45px;
            border-radius: 40px;
        }

        .info {
            // width: 0%;
            margin-left: 2%;
            display: flex;
            flex-direction: column;

            .comm {
                padding: 8px;
                background-color: rgb(212, 255, 255);
                // text-indent: 10px;
                border-radius: 10px;

                span {
                    // margin-left: 10px;
                    font-size: 20px;
                    font-weight: bold;
                }

                p {
                    // margin-left: 10px;
                    font-size: 16px;
                }
            }

            .date {
                // background-color: coral;
                font-size: 14px;
                color: gray;
            }

        }

    }
}