@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");

.sptext-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;

  .spcontainer {
    align-items: center;
    flex: 0 0 41.67%;
    display: flex;
    justify-content: center;

    .spcontainer-body {
      display: flex;
      align-items: center;
      @media (max-width: 801px) {
        justify-content: center;
      }

      .spcontainer-content {
        position: absolute;

        .spcard {
          border-radius: 0.8rem;
          background: hsla(0, 0%, 90%, 0.5);
          backdrop-filter: blur(30px);
          border: none;

          .spcard-body {
            padding: 2rem 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            // gap: 2rem;

            .sptitle {
              font-family: "Fira Sans", sans-serif;
              font-weight: bold;
              font-size: 1.5rem;
              font-family: "Fira Sans", sans-serif;
              color: #4f4f4f;
              margin-bottom: 1rem;
            }

            form {
              .sprow {
                .spcol {
                  display: inline-block !important;

                  .spform-outline-11 {
                    margin-bottom: 0.8rem;
                    margin-right: 0.2rem;

                    .spform-control {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      border-radius: 0.5rem;
                      border: 1px solid #ced4da;
                      padding: 1rem;
                      // padding-left: 1.5rem;
                      // padding-right: 1.5rem;
                      width: 154px;
                      //   height: 0.8rem;
                      background-color: #fff;
                      background-image: none;
                      background-clip: padding-box;
                      box-shadow: none;
                      transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                      &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                      }
                    }
                    .invalid-feedback {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      color: #dc3545;
                    }
                  }
                }

                .spcol {
                  .spform-outline-12 {
                    margin-bottom: 0.8rem;
                    margin-left: 0.2rem;

                    .spform-control {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      border-radius: 0.5rem;
                      border: 1px solid #ced4da;
                      padding: 1rem;
                      // padding-left: 2.5rem;
                      // padding-right: 2.5rem;
                      width: 154px;
                      //   height: 0.8rem;
                      background-color: #fff;
                      background-image: none;
                      background-clip: padding-box;
                      box-shadow: none;
                      transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                      &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                      }
                    }
                    .invalid-feedback {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      color: #dc3545;
                    }
                  }
                }

                .spform-outline-2 {
                  margin-bottom: 0.8rem;

                  .spform-control {
                    font-family: "Fira Sans", sans-serif;
                    font-size: 0.9rem;
                    border-radius: 0.5rem;
                    border: 1px solid #ced4da;
                    padding: 1rem;
                    // padding-left: 2.5rem;
                    // padding-right: 2.5rem;
                    width: 349.5px;
                    // height: 0.8rem;
                    background-color: #fff;
                    background-image: none;
                    background-clip: padding-box;
                    box-shadow: none;
                    transition: border-color 0.15s ease-in-out,
                      box-shadow 0.15s ease-in-out;
                    &:focus {
                      border-color: #80bdff;
                      outline: 0;
                      box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                    }
                  }
                  .invalid-feedback {
                    font-family: "Fira Sans", sans-serif;
                    font-size: 0.9rem;
                    color: #dc3545;
                  }
                }

                .spcol {
                  display: inline-block !important;

                  .spform-outline-11 {
                    margin-bottom: 0.8rem;
                    margin-right: 0.2rem;

                    .spform-control1 {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      border-radius: 0.5rem;
                      border: 1px solid #ced4da;
                      padding: 1rem;
                      // padding-left: 2.5rem;
                      // padding-right: 2.5rem;
                      width: 188px;
                      //   height: 0.8rem;
                      background-color: #fff;
                      background-image: none;
                      background-clip: padding-box;
                      box-shadow: none;
                      transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                      &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                      }
                    }

                    .invalid-feedback {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      color: #dc3545;
                    }
                  }
                }

                .spcol {
                  .spform-outline-12 {
                    margin-bottom: 0.8rem;
                    margin-left: 0.2rem;

                    .spform-control2 {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      border-radius: 0.5rem;
                      border: 1px solid #ced4da;
                      padding: 1rem;
                      // padding-left: 2.5rem;
                      // padding-right: 2.5rem;
                      width: 188px;
                      //   height: 0.8rem;
                      background-color: #fff;
                      background-image: none;
                      background-clip: padding-box;
                      box-shadow: none;
                      transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                      &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                      }
                    }
                    .invalid-feedback {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      color: #dc3545;
                    }
                  }
                  .spform-outline-12 {
                    margin-bottom: 0.8rem;
                    margin-left: 0.2rem;

                    .spform-control3 {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      border-radius: 0.5rem;
                      border: 1px solid #ced4da;
                      padding: 1rem;
                      // padding-left: 2.5rem;
                      // padding-right: 2.5rem;
                      width: 108px;
                      //   height: 0.8rem;
                      background-color: #fff;
                      background-image: none;
                      background-clip: padding-box;
                      box-shadow: none;
                      transition: border-color 0.15s ease-in-out,
                        box-shadow 0.15s ease-in-out;
                      &:focus {
                        border-color: #80bdff;
                        outline: 0;
                        box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
                      }
                    }
                    .invalid-feedback {
                      font-family: "Fira Sans", sans-serif;
                      font-size: 0.9rem;
                      color: #dc3545;
                    }
                  }
                }

                .spform-outline-3 {
                  margin-bottom: 0.8rem;

                  .spbtn {
                    font-family: "Fira Sans", sans-serif;
                    width: 378px;
                    font-size: 1rem;
                    color: #fff;
                    border-color: #007bff;
                    background-color: #10adf4; /* Set custom background color */
                    cursor: pointer;
                    padding: 0.5rem;
                    color: #ffffff;
                    border-radius: 0.5rem;
                    border: none;
                    &:hover {
                      background-color: #141f86;
                    }
                  }
                }

                .sptext-left {
                  // margin-bottom: -1rem;
                  .spsub {
                    font-family: "Fira Sans", sans-serif;
                    font-size: 0.9rem;
                  }

                  .fw-bold {
                    color: #141f86;
                    text-decoration: none;
                  }

                  .fw-bold:hover {
                    color: #10adf4;
                  }
                }
              }
            }
          }
        }
      }

      .spcontainer-img {
        .spimg {
          border-radius: 0.25rem;
          box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.16);
          height: 85vh;
          width: 480px;
          display: block;
          margin-left: 400px;
          object-fit: cover;

          @media (max-width: 801px) {
            display: none;
          }
        }
      }
    }
  }
}
