.home {
   display: flex;
   flex-direction: row;
   position: relative;
   top: 4rem;

   @media only screen and (max-width: 1000px) and (min-width: 700px) {
      margin: 0 5rem;
   }

   .leftbar-container-home {
      width: 478px;
      flex: 0.8;

      @media only screen and (max-width: 1300px) {
         flex: 1.5;
      }
   }

   .main-container-home {
      flex: 2;
      margin: 0 20px 20px 20px;
      // width: -webkit-fill-available;
      width: 100%;

      @media only screen and (max-width: 1000px) and (min-width: 700px) {
         flex: 3;
      }

      .addPostContainer-home {
         margin-top: 20px;
      }
   }

   .rightbar-container-home {
      flex: 0.5;
      margin-right: 20px;
   }
}
