.outer-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

    .outer-left-page {
        margin-bottom: 10px;
    }

    .mid-page {}

    .outer-right-page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}