.outer-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: #e1f7ff;
    .outer-left-page{
        background-color: white;
        margin-bottom: 10px;
    }
    .mid-page{
        background-color: white;
        .services{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }
    .outer-right-page{
        background-color: white;
    }
}
