.outer-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: #ECFBFE;
    gap: 10px;

    .outer-left-page {
        background-color: white;
        margin-bottom: 10px;
        align-self: stretch;
        display: flex;
        justify-content: center;
        flex: 0 0 280px;
        /* Adjust the width of the leftbar */
        position: sticky;
        top: 0;
    }

    .mid-page {
        background-color: rgb(255, 255, 255);
        flex: 1;
        .services {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }

    .outer-right-page {
        background-color: white;
        flex: 0 0 200px;
    }
}