*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topic{
    margin: 20px;
    h1{
        font-family: 'klavika-bold';
    }
}

.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}