@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.user_main{
    width: 70%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ECFBFE;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    .rows{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .user_one{
            flex: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            margin: 0 10px 10px 0;
        }
        .user_two{
            flex: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    }
}

.user_titlebar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 5px 5px 0 0;
    .user_title{
        font-size: 18px;
        font-weight: 600;
        font-family: 'klavika-bold';
        color: #2B3674;
    }
    .user_buttons{
        display: flex;
        align-items: center;
        .botton_box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 15%;
            background-color: #f0f9fd;
            margin-left: 10px;
            cursor: pointer;
            &:hover{
                background-color: #e6f4f9;
            }
            .material-icons{
                font-size: 18px;
                color: #2B3674;
            }
        }
        .button_boxtext{
            font-size: 14px;
            font-weight: 600;
            font-family: 'klavika-bold';
            color: #2B3674;
            background-color: #f0f9fd;
            margin-left: 10px;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: #e6f4f9;
            }
            h3{
                padding: 3px;
                color: #A3AED0;
            }
            .material-icons{
                font-size: 18px;
                color: #2B3674;
                padding: 3px;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}