*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0;
}

.about{
    flex: 75%;
    text-align: justify;
    align-items: center;
    padding: 10px 30px;
}

.about p{
    font-size: 24px;
    font-weight: 500;
    color: #898989;
    justify-content: center;
    font-family: 'klavika-light';
}

.more{
    flex: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.location{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: #164DE5;
    font-family: 'klavika-light';
}

.fa-map-marker{
    font-size: 20px;
    color: #164DE5;
    margin-right: 5px;
}

.rate{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.photo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.line p{
    font-size: 25px;
    color: #898989;
    font-family: 'klavika-light';
}

.line span{
    color: #000;
    cursor: pointer;
    font-family: 'klavika-bold';
}