@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.adminprofile_main{
    width: 70%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ECFBFE;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    .admin_profile{
        overflow: scroll;
        flex: 1;
        width: 100%;
        background-color: #ECFBFE;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .admin_profile_summary{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            background-color: #ffffff;
            border-radius: 5px;
            width: 100%;
            padding: 50px 0;
            font-family: 'klavika-bold';
            .profile_picture{
                width: 260px;
                height: 100px;
                background-color: #ffffff;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 5px 10px 5px;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            h1{
                color: #2B3674;
            }
            h3{
                color: #AFAFAF;
            }
        }
        .admin_profile_details{
            display: flex;
            margin: 10px;
            background-color: #ECFBFE;
            border-radius: 5px;
            width: 100%;
            justify-content: space-between;
            .profile_details{
                flex: 45%;
                background-color: #ffffff;
                border-radius: 5px;
                width: 100%;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                table{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    tr{
                        th{
                            color: #2B3674;
                            padding: 5px;
                            font-family: 'klavika-bold';
                            font-size: 14px;
                            width: 150px;
                            text-align: left;
                        }
                        td{
                            padding: 5px;
                            font-family: 'klavika-bold';
                            font-size: 14px;
                            color: #AFAFAF;
                            width: 250px;
                        }
                    }
                }
            }
            .profile_reports{
                flex: 45%;
                background-color: #ffffff;
                border-radius: 5px;
                width: 100%;
                margin-left: 5px;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    color: #2B3674;
                    font-size: 25px;
                    padding: 10px;
                }
                table{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    tr{
                        th{
                            padding: 5px;
                            color: #A3AED0;
                            text-align: center;
                            width: 150px;
                            background-color: #f0f9fd;
                        }
                        td{
                            padding: 5px 20px;
                            font-family: 'klavika-bold';
                            font-size: 14px;
                            color: #2B3674;
                            width: 150px;
                            .link{
                                text-decoration: none;
                            }
                            span{
                                cursor: pointer;
                                font-size: 18px;
                                color: #2B3674;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .material-icons{
                                    font-size: 18px;
                                    color: #2B3674;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}