.outer-space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    .outer-left-page{
        background-color: white;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 16%;
        margin: 5px;
    }
    .mid-page{
        background-color: white;
        width: 68%;
        margin: 5px;
        border-radius: 3px;

        h1{
            margin-left: 10px;
            margin-top: 10px;
            color: #2d3846;
        }
    }
    .outer-right-page{
        background-color: white;
        width: 16%;
        margin: 5px;
        border-radius: 3px;
    }
}